<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>Error</title>

</head>
<body>

<div>

    <nav class="nav nav-pills nav-fill">
        <div><a href="/login" class="nav-item nav-link">Home</a></div>
        <div><a href="/secured/user/teams/showTeams" class="nav-item nav-link">Teams</a></div>
        <div><a href="/secured/user/players/showPlayers" class="nav-item nav-link">Players</a></div>
        <div><a href="/secured/user/leagues/showLeagues" class="nav-item nav-link">Leagues</a></div>
        <div><a href="/secured/user/countries/showCountries" class="nav-item nav-link">Countries</a></div>
        <div><a href="/secured/admin/teams/addTeam" class="nav-item nav-link">Add Team</a></div>
        <div><a href="/secured/admin/players/addPlayer" class="nav-item nav-link">Add Player</a></div>
        <div><a href="/secured/admin/leagues/addLeague" class="nav-item nav-link">Add League</a></div>
        <div><a href="/logout" class="nav-item nav-link">Logout</a></div>
    </nav>


</div>

<div class="container container-fluid">
    <div Class="alert alert-danger" >
        <h4 align="center">Admin authenticate is required</h4>
    </div>
</div>
</body>
</html>