<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<div>

    <nav class="nav nav-pills nav-fill">
        <div><a href="/login" class="nav-item nav-link active">Home</a></div>
        <div><a href="/secured/user/teams/showTeams" class="nav-item nav-link">Teams</a></div>
        <div><a href="/secured/user/players/showPlayers" class="nav-item nav-link">Players</a></div>
        <div><a href="/secured/user/leagues/showLeagues" class="nav-item nav-link">Leagues</a></div>
        <div><a href="/secured/user/countries/showCountries" class="nav-item nav-link">Countries</a></div>
        <div><a href="/secured/admin/teams/addTeam" class="nav-item nav-link">Add Team</a></div>
        <div><a href="/secured/admin/players/addPlayer" class="nav-item nav-link">Add Player</a></div>
        <div><a href="/secured/admin/leagues/addLeague" class="nav-item nav-link">Add League</a></div>
    </nav>


</div>

<div class="container">
    <form action="/login" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>